<form class="{{cssClass}}" autocomplete="off">
<div class="actor-wrapper">
    <div class="actor-row for-logo-line"></div>

    <!-- Блок с авкой, именем и спец. абилками -->
    <div class="actor-row">

    </div>

    <!-- Карты заданий -->
    <div class="actor-row">

    </div>

    <!-- Блок помощи -->
    <div class="actor-row actor-help">
        <div class="actor-column-50">
        {{{localize "CZT.Actor.Helps.Left.l1"}}}:
        <ul class="red-li">
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Left.l2"}}}</li>
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Left.l3"}}}</li>
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Left.l4"}}}</li>
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Left.l5"}}}</li>
        </ul>
        </div>
        <div class="actor-column-50">
        {{{localize "CZT.Actor.Helps.Right.l1"}}}:
        <ul class="red-li">
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Right.l2"}}}</li>
            <li><i class="fa-solid fa-triangle red-li-p"></i>&nbsp;{{{localize "CZT.Actor.Helps.Right.l3"}}}</li>
        </ul>
        {{{localize "CZT.Actor.Helps.Right.l4"}}}<br><br>
        {{{localize "CZT.Actor.Helps.Right.l5"}}}<br>
        {{{localize "CZT.Actor.Helps.Right.l6"}}}
        </div>
    </div>
</div>
</form>